<!DOCTYPE html>
<html>
<head>
  <title>About</title>
</head>
<body>
  <%- include('header') %>

  <h1>About Us</h1>
  <p>Meet our team:</p>

  <!-- Will be dynamic later -->
  <ul>
    <li>Team Member 1</li>
    <li>Team Member 2</li>
    <li>Team Member 3</li>
  </ul>

  <%- include('footer') %>
</body>
</html>